.env
__pycache__/
.DS_Store
data
docs
pyproject.toml
test_set
analysis_output
dataset
dataset_doctor_nurse
dataset copy
analysis_rollup
dataset copy
dataset_old_version_with_10_jobs
dataset_copy_20_job
dataset_20_job
dataset_50_job
92_job_description
sd_xl_dataset
dataset_3
92_job_description_SDXL